apiVersion: v1
kind: Service
metadata:
  name: java-app-service
  namespace: default # Jenkins will replace this
spec:
  type: NodePort
  selector:
    app: java-app
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30001 # careful with conflicts if deploying multiple envs